.metadata
.vscode
Button_and_LED/.settings
Button_and_LED/Debug
Button_and_Led_Notify/Debug
Button_and_Led_Notify/.settings
First_RTOS_Project_/Debug
First_RTOS_Project_/.settings
LED_Button_ISR/Debug
LED_Button_ISR/.settings

**/metadata/*
